@charset "UTF-8";
@font-face {
    font-family: "Roboto-Regular";
    src: url(fonts/Roboto/static/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "FiraCode-Regular" ;
    src: url(fonts/Fira_Code/static/FiraCode-Regular.ttf);
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
} 

.fundo {
    background-color: #0A192F;
    display: flex;
    height: 100vh;
    width: 100vw;
    position: fixed;
    
 }

 .main {
     margin-top: 100px;
     margin-left: 140px;
 }

h1 {
    font-size: 50px;
}

p, h1 {
    font-family: "Roboto-Regular";
    color: rgb(209, 182, 247);
}

.main__hi{
    font-family: "FiraCode-Regular";
    text-decoration: none;
    
}

.menu__1, .menu__2, .menu__3 {
    display: inline-block;
    font-size: 13px;
    margin-right: 20px;
    font-family: "FiraCode-Regular";
    list-style: none;
    transition:  linear 150ms ;
   
    
}
.menu__3:hover{
    transform: translate(0px, -4px);
    
    
}

.menu__1:hover {
    
    transform: translate(0px, -4px);
}

.menu__2:hover{
    
    transform: translate(0px, -4px);
}



a {
    color: rgba(255, 255, 255, 0.575);
    cursor: pointer;
    text-decoration: none;
}



.button__more{
    
    font-size: 15px;
    background-color: transparent;
    font-family:"FiraCode-Regular" ;
    border: 1px solid ;
    border-radius: 6px 6px;
    border-color: #5bffe1;
    padding: 7px 7px 10px 10px;
    transition: color .5s linear;
    
    
}

.button__more:hover{
   color: rgb(0, 255, 0);
}



.main__text {
    width: 450px;
    font-size: 15px;
    margin-bottom: 40px;
}

.contact{
    display: flex;
    gap: 10px;
    margin-top: 35px;
    
}



.instagram{
    width: 30px;
    height: 30px;
    transition: transform .3s linear;
}

.instagram:hover{
    transform: translate(0px, -5px);
}

.github {
    transition: transform .3s linear;
}

.github:hover{
    transform: translate(0px, -5px);
}



@media (max-width:320px) {
    .fundo {
        height:100vh;
        width: 100%;
    }
    .menu__1, .menu__2, .menu__3 {
        font-size: 11px;
        margin-right: 5px;
    }
    .main {
        
        margin-left: 50px;
    }
    
    h1 {
        width: 300px;
        font-size: 20px;
    }
    .main__text {
        width: 270px;
        font-size: 13px;
    }
}

